@model  Vouchers.VoucherDetailsViewModel

@{}
<h3>Submit Demo</h3>
@using (Html.BeginForm())
{
    <label for="VoucherText"></label>
    <input id="VoucherText" asp-for="CurrentVoucher.Text" />
    <br />
    <label for="VoucherDate"></label>
    <input id="VoucherDate" type="text" asp-for="CurrentVoucher.Date" />
    <br />
    <label for="VoucherAmount"></label>
    <input id="VoucherAmount" type="number" asp-for="CurrentVoucher.Amount" />
    <p></p>
    <input type="submit" value="Save Voucher" />
}