table, th, td {
        border: 1px solid black;     
}

td {
    padding: 2px;              
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #00bfff;
}

table.FormattedTable {
    border-spacing: 8px;
}

table.FormattedTable td {
    padding: 5px;
}

table.FormattedTable col.Col1 {
    width: 100px;
    text-align: left
}

table.FormattedTable col.Col2 {
    width: 300px;
    text-align: left
}

table.FormattedTable td.Left {
    text-align: left;
}

table.FormattedTable thead {
    text-align: left;
    background-color: coral;
}

div#tblhint>a {
    display: inline;
    text-decoration: none;  
}