@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<script src="~/js/statistics.js"></script>

<label>Revenue & Expense Chart</label>
<div id="area-chart"></div>
