$primary-color: #333;
$margin: 0;
$padding: 8px;

body {
  color: $primary-color;
}

nav {
  ul {
    margin: $margin;
    padding: $margin;
    list-style: none;
  }

  li { display: inline-block; }

  a {
    display: block;
    padding: $padding;
    text-decoration: none;
  }
}