@{}

<ul>
    <li><a asp-controller="Demo" asp-action="SubmitDemo">Submit Demo</a></li>
    <li><a asp-controller="Account" asp-action="Index">CRUD List</a></li>
    <li><a asp-controller="Demo" asp-action="AsyncDemo">AsyncDemo</a></li>
</ul>