html, body {
    padding: 0;
    border: 0px none;
}

/* Let's add some style to our fieldset & legend */

fieldset {
    border: 1px #dddddd solid;
    padding: 10px;
    width: 550px;
    margin-top: 10px;
}

    fieldset legend {
        border: 1px #1a6f93 solid;
        color: black;
        font-family: Verdana;
        font-size: 13px;
        padding-right: 5px;
        padding-left: 5px;
        padding-top: 2px;
        padding-bottom: 2px;
    }


.divform {
    width: 560px;
    padding: 20px;
    height: auto;
    text-align: center;
}

/* Left DIV */
.l {
    width: 140px;
    margin: 0px;
    padding: 0px;
    float: left;
    text-align: right;
}

/* Right DIV */
.r {
    width: 300px;
    margin: 0px;
    padding: 0px;
    float: right;
    text-align: left;
}

.a {
    clear: both;
    width: 470px;
    padding: 10px;
}
