

  h4  {
    font-size: 1em;
    }

  .column-in {
    margin:0; padding:0.5em 1em;
    }

  .cleaner {
    clear:both;
    height:1px;
    font-size:1px;
    border:none;
    margin:0; padding:0;
    background:transparent;
    display:none;
    }

  /* THE DIV TO TABLE TECHNIQUE */

  #layoutContainer {
    width: 600px;
    padding:0;
    display: table;
    border: 1px solid black;
    }

  #row  {
    display: table-row;
    }

  #left {
    width:150px;
    padding:0;
    background: #EEF;
    display: table-cell;
    background:yellow url("red.gif") top left repeat-y;
    }

  #right {
    width:150px;
    background:#FEE;
    display: table-cell;
    background:#FEE url("blue.gif") top right repeat-y;
    }

  #middle {
    padding: 10px;
    width: 280px;
    background:yellow;
    display: table-cell;
    }

  .flex-container {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    text-align: center;
}

.flex-container > * {
    padding: 15px;
    -webkit-flex: 1 100%;
    flex: 1 100%;
}

.article {
    text-align: left;
}

header {background: black;color:white;}
footer {background: #aaa;color:white;}
.nav {background:#eee;}

.nav ul {
    list-style-type: none;
 padding: 0;
}
   
.nav ul a {
 text-decoration: none;
}

@media all and (min-width: 768px) {
    .nav {text-align:left;-webkit-flex: 1 auto;flex:1 auto;-webkit-order:1;order:1;}
    .article {-webkit-flex:5 0px;flex:5 0px;-webkit-order:2;order:2;}
    footer {-webkit-order:3;order:3;}
}